.app {
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background-color: white;
  border-bottom: 1px solid #ddd;
}

.navbar h2 {
  margin: 0;
  color:red;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links a:hover {
  text-decoration: underline;
}

.content {
  padding: 40px;
}